Webpack (imports/exports)
    Babel
    SCSS
    ESLint
    2 Режима
        -Dev
            Dev Server, SourceMaps, ESLint, Not Minified JS & CSS
        -Prod
            Minified Code
Git
    Production
        1.0.0
        -------
    Development
        1.0.2
        ----------